# Dependencies
node_modules/
.pnp
.pnp.js

# Build Artifacts
dist/
build/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.pem

# Testing & Coverage
coverage/

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
